#forms_grid{
  display: flex;
  justify-content: space-around;
}

form{
  display:flex;
  flex-direction: column;
}

form > *{
  margin: 5px;
}

#species_form{
  display: none;
}

#capacity_form{
  display: none;
}

#ability_form{
  display: none;
}

.list_block{
  width: 100%;
  max-height: 95px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  overflow-y: auto;
}

li{
  margin-left: 5px;
}
