*{
    margin: 0;
    font-family:"Ubuntu-nono", monospace;
    color: black
}

.sheet_space{
    margin: 1%;
    min-width: 90vw;
}

.tabs{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.tab{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform-origin: bottom center;
    border-bottom: none;
    transition: all 50ms;
}
.tab:hover{
    
    transform: scale(1.2);
}

.tab_body{
    background-color: #A0D33F;
    border-radius: 40px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    min-width:75em;
    display: none;
}














#id_tab{
    width: 100%;
    display: flex;
  flex-direction: column;
}

#id_tab .header{
    width: 100%;
    display: flex;
    margin: 20px;
}

#id_tab .header *{
    margin: 10px;
}

#trainer_photo{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
    border-color: rgba(0, 0, 0, .3);
    background-color: white;
    padding: 5px;
}

.personal_info{
   font-size: 40px;
   height: 300px;
   min-width: 30%;
}

.header_stats{
  width: 40%;
    background-color: pink;
    display: flex;
    flex-direction: column;

}

#lvl{
    align-self: center;
    font-size: 40px;
}

.class_table{
    display: flex;
    align-self:center;
    flex-grow: 1;
  width: min-content;
}

#class_table{
    align-self: flex-end;
    width: min-content;
    min-width: 300px;
    max-width: 600px;
    font-size: 30px;
    border-collapse: collapse;
}

#class_table *{
  width: min-content;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

#class_table select{
  margin: 0;
  min-width: 80%;
}


#trainer_forms{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#trainer_forms > form{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

#trainer_forms > form{
  display: none;
}

.list_block{
  width: 100%;
  max-height: 95px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  overflow-y: auto;
}

#talent_bools{
  display: flex;
  flex-direction: column;
}



















#pokemon_tab{
    flex-direction: column;
    align-items: center;
}

#add_pokemon_icon:hover{
  scale: 1.2;  
}

.party{
    margin: 10px;
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 150px;
    column-gap: 50px;
    width: 90%;
    background-color: rgb(255, 75, 75);
    height: calc()
}

.poke_box{
    background-image:url("/static/img/PTA1/poke_box.png");
    width: 300px;
    height: 102px;
    margin: 20px;
    transition: scale 50ms;
}

.poke_box:hover{
    scale: 1.1;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
}

.selected_poke{
    background-image:url("/static/img/PTA1/poke_box.png");
    width: 300px;
    height: 102px;
    margin: 20px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
  border-color: yellow;
  scale: 1.1;
}

.box_icons{
  width: 90px;
  margin: 10px;
  position: relative;
  height: 90px;
}

.ball_icon{
  position: relative;
  scale: 0.8;
  top:-35px;
  left: -35px;
}

.poke_icon{
  position: relative;
  left: -95px;
}

.box_stats{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
    left: 100px;
    max-height: 102px;
    max-width:200px;
    padding: 5px;
}

.HP_box{
    margin: 0;
}

.HP_bar{
    color: green;
    width: 160px;
}

.HP_box p{
    height: fit-content;
    width: 160px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.poke_lvl{
  position: relative;
  display: flex;
}

.gender_icon{
    position: relative;
    height: 12px;
    top: -70px;
    left: 180px;
    scale: 1.75;
}

.poke_name{
    margin: 0px;
    padding-top: 8px;
}

.poke_sheet{
    width: 90%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    background-color: black;
    color: white;
}

.party#pc{
    background-color: rgb(161, 161, 161);
}

























.item_box_header select{
  height: min-content;
}

.item_grid{
    display: grid;
    margin: 20px;
    background-color: orange;
    grid-template-columns: 50% 50%;
    align-content: center;
}

.item_box{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: solid;
    border-width: 2px;
    border-color: black;
}

.new_item{
  background-color: lightgreen;
}

.item_box_header{
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.item_qtt{
    width: 40px;
}

.qtt_input{
    width: 40px;
}

.item_description{
    width: auto;
    margin: 10px 10px 0px 0px;
}

.item_description textarea{
    width: 100%;
    height: 75px;
    resize: none;
}















#prizes_tab{
    /* display: flex; */
    flex-direction: column;
}

.prize_box{
    margin: 20px;
    border: solid;
    border-width: 3px;
    border-color: black;
    flex-grow: 1;
    display: flex;
}

.prize_img{
    width: 200px;
}

.prize_description{
    margin: 20px;
    flex-grow: 1;
}

.prize_description{
    resize: none;
}









#dex_tab{
  flex-direction: column;
  width: min-content;
  align-items: center;
}

.dex_block{
  width: min-content;
  height: auto;
}

.dex_block *{
  position:absolute;
  left: 21.4%;
  top: 51%;
}

.dex_block img{
  transform: translate(-50%, -50%);
}

.dex_block img:first-child{
  position: static;
  transform: translate(0, 0);
}

.dex_sprite{
  left: 35.5%;
  top: 66%;
}

.dex_caught_icon{
  left: 42.5%;
  top: 58%;
}

.dex_search{
  left: 28%;
  top: 93%;
  padding: 5px;
}

#dex_poke_name{
  left: 28%;
  top: 83%;
}


#dex_poke_description{
  left: 55%;
  top: 32%;
  background-color: #222222;
  color: lightgreen;
  height: 550px;
  width: 280px;
  padding-left: 2px;
}







#notes_textbox{
    margin: 20px;
    width: 100%;
    min-height: 300px;
    padding: 5px;
}















#stats_tab{
    /* display: flex; */
    flex-direction: column;
}



.stats_space{
    display: flex;
    margin: 20px;
  justify-content: space-between;
  padding: 0vw 5vw;
}

.left_panel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HP_DA{
    display: flex;
    justify-content: space-between;
}

.HP_display{
    display: flex;
    width: auto;
    height: 100%;
    border-style: solid;
    padding: 2px 5px;
}

.HP_display h2{
  margin: auto;
    /* margin-right: 10px; */
}

.HP_display input[type=number]{
    width: 50px;
    font-size: 20px;
  text-align: center;
}

.DA_display{
    display: flex;
    align-items: center;
    border-style: solid;
}

.DA_display h2{
    padding: 5px;
}

.DA_display input[type=number]{
    width: 30px;
}

.dice_sides{
    list-style-type: none;
}

.roll_button{
    margin: 5px;
    width: auto;
}

.die_icon{
    width: 20px;
}

.move_stats{
  display: flex;
  flex-direction: row;
}

.stats_table{
    border-style: solid;
    border-collapse: collapse;
    width: fit-content;
  margin: 5px;
}

.stats_table th,td{
    padding: 10px;
    border-style: solid;
    text-align: center;
    width: fit-content;
}

.stat_field{
    width: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.talents_grid{
  display: grid;
  grid-template-columns: 50% 50%;
  padding:5%;
}

.talent_box{
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  height: min-content;
  /* width: 100%; */
}

.talent_box_header{
    height: min-content;
    width: 100%;
    display: flex;
  display: flex;
  flex-direction: row;
}

.talent_box_info{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.talent_box_middle{
  display: flex;
  flex-direction: row;
}

.talent_name{
  grid-area: name;
    resize: none;
  text-align: center;
}

.talent_target{
  width: 50%;
}

.talent_frequency{
  width: 50%;
  text-align: end;
}

.talent_icons{
  display: flex;
  flex-direction: column;
  width: 10%;
  height: auto;
}

.talent_icons img{
  /* scale: 0.5; */
  width: auto;
  height: auto;
}

.talent_description{
  grid-area: description;
    width: auto;
    margin: 10px 10px 0px 0px;
}

.talent_description{
    width: 100%;
    height: fit-content;
    resize: none;
  height: 200px;
}
