{{define "sheet_body"}}

<div class="sheet_space">
  <link rel="stylesheet" href="/static/css/PTA1/pokemonSheet.css">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <script src="/static/js/PTA1/pokemonSheet.js"></script>
  <div class="tabs">
    <button class="tab" id="id" onclick="openTab(event, 'id')">ID</button>
    <button class="tab" id="stats" onclick="openTab(event, 'stats')">stats</button>
    <button class="tab" id="moves" onclick="openTab(event, 'moves')">moves</button>
    <button class="tab" id="notes" onclick="openTab(event, 'notes')">notes</button>
  </div>
  <div class="tab_body" id="id_tab">
    <input type="text" id="sheet" hidden value="{{.Id}}">
    <div>
      <div>
        <img src="{{.Species.Sprite}}" alt="{{.Species}} sprite">
        <div>
          <h2>Apelido</h2><input type="text" value="{{.Nick}}">
        </div>
        <div>
          <h2>Espécie</h2>
          <h2>{{.Species.Name}}</h2>
        </div>
        <div>
          {{range .Type}}
            <h2>{{.}}</h2>
          {{end}}
        </div>
      </div>
      <div>
        <div>
          <h2>Sexo</h2>
          <h2>{{.Gender}}</h2>
        </div>
        <div>
          <h2>Natureza</h2>
          <h2>{{.Nature}}</h2>
        </div>
        <div>
          <h2>Dieta</h2>
          <h2>{{.Species.Diet}}</h2>
        </div>
        <div>
          <h2>LVL</h2>
          <h2 id="lvl">{{.Lvl}}</h2>
        </div>
        <div>
          <h2>EXP</h2><meter id="xp_meter" min="0" max="600000" value="{{.Exp}}"></meter>
        </div>
        <div>
          <h2>Altura</h2>
          <h2>{{divide .Height 100}}m</h2>
        </div>
        <div>
          <h2>Peso</h2>
          <h2>{{divide .Weight 10}}Kg</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="tab_body" id="stats_tab">
    <div class="stats_space">
      <div class="left_panel">
        <div class="HP_DA">
          <div class="HP_display">
            <h2>HP</h2>
            <input type="number" max="{{index .Hp 1}}" value="{{index .Hp 0}}">
            <h2>/</h2>
            <input type="number" disabled="true" readonly value="{{index .Hp 1}}">
          </div>
          <div class="elemental_bonus_display">
            <h2>Bonus Elemental:</h2>
            <h2>{{.ElemBonus}}</h2>
          </div>
        </div>
        <div class="move_stats">
          <table class="stats_table">
            <tr>
              <th colspan="2">EVASÃO</th>
            </tr>
            <tr>
              <th>Física</th>
              <td>{{index .Evasion 0}}</td>
            </tr>
            <tr>
              <th>Especial</th>
              <td>{{index .Evasion 1}}</td>
            </tr>
            <tr>
              <th>Veloz</th>
              <td>{{index .Evasion 2}}</td>
            </tr>

          </table>
          {{with .Movement}}
          <table class="stats_table">
            <tr>
              <th colspan="2">DESLOCAMENTOS</th>
            </tr>
            <tr>
              <th>Terrestre</th>
              <td>{{index . "land"}}</td>
            </tr>
            <tr>
              <th>Natação</th>
              <td>{{index . "surface"}}</td>
            </tr>
            <tr>
              <th>Subaquático</th>
              <td>{{index . "underwater"}}</td>
            </tr>
            <tr>
              <th>Escavação</th>
              <td>{{index . "burrow"}}</td>
            </tr>
            <tr>
              <th>Vôo</th>
              <td>{{index . "fly"}}</td>
            </tr>
          </table>
          {{end}}
          {{with .Species.Capacities}}
          <table class="stats_table">
            <tr>
              <th colspan="2">CAPACIDADES</th>
            </tr>
            <tr>
              <td>Força</td>
              <td>{{.Strength}}</td>
            </tr>
            <tr>
              <td>Salto</td>
              <td>{{.Jump}}</td>
            </tr>
            <td>Inteligência</td>
            <td>{{.Inteligence}}</td>
            </tr>
          </table>
          {{end}}
        </div>
      </div>
      {{with .Status}}
      <table class="stats_table">
        <tr>
          <th colspan="6">STATS</th>
        </tr>
        <tr>
          <th>Stat</th>
          <th>Base</th>
          <th>Pontos Distribuídos</th>
          <th>Fase</th>
          <th>Total</th>
          <th>Mod</th>
        </tr>
        <tr>
          <td>Saúde</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Base "HP"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .LvlUp "HP"}}"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "HP"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="0" readonly></td>
          <td>10</td>
        </tr>
        <tr>
          <td>Ataque</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Base "ATK"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .LvlUp "ATK"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "ATK"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="0" readonly></td>
          <td>10</td>
        </tr>
        <tr>
          <td>Defesa</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Base "DEF"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .LvlUp "DEF"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "DEF"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="0" readonly></td>
          <td>10</td>
        </tr>
        <tr>
          <td>Ataque Especial</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Base "SPATK"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .LvlUp "SPATK"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "SPATK"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="0" readonly></td>
          <td>10</td>
        </tr>
        <tr>
          <td>Defesa Especial</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Base "SPDEF"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .LvlUp "SPDEF"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "SPDEF"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="0" readonly></td>
          <td>10</td>
        </tr>
        <tr>
          <td>Velocidade</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Base "SPD"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .LvlUp "SPD"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "SPD"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="0" readonly></td>
          <td>10</td>
        </tr>
      </table>
      {{end}}
    </div>
    <h2 style="text-align: center;">OUTRAS CAPACIDADES</h2>
    <div id="capacity_space">
      <table class="capacity_block">
        <tr>
          <th>NOME DA CAPACIDADE</th>
        </tr>
        <tr>
          <td>descricao da capacidade</td>
        </tr>
      </table>
      <table class="capacity_block">
        <tr>
          <th>NOME DA CAPACIDADE</th>
        </tr>
        <tr>
          <td>descricao da capacidade</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="tab_body" id="moves_tab">
    <div class="moves_space">
      <table class="stats_table" id="moves_table">
        <tr>
          <th colspan=2>
            GOLPES PADRÃO
          </th>
        </tr>
        {{range index .Moves 0}}
        {{if .}}
        <tr>
          <td>{{.Name}}</td>
          <td>
            <div class="move_box">
              <div>
                <h2>{{range .Descriptors}}{{.}}{{end}}</h2>
                <h2>{{.Type}}</h2>
              </div>
              <div>
                <h2>{{.Damage.Mod}}</h2>
                <h2>{{.AccDiff}}</h2>
              </div>
              <div>
                <h2>{{.Frequency}}</h2>
              </div>
              <div>
                <p>{{.Effect}}</p>
              </div>
            </div>
          </td>
        </tr>
        {{else}}
        <tr>
          <td>NOME DO GOLPE</td>
          <td>
            <div class="move_box">
              <div>
                <h2>descritores</h2>
                <h2>TIPO</h2>
              </div>
              <div>
                <h2>dano basal</h2>
                <h2>ACC</h2>
              </div>
              <div>
                <h2>frequência</h2>
              </div>
              <div>
                <p>Efeito do golpe</p>
              </div>
            </div>
          </td>
        </tr>
        {{end}}
        {{end}}
        <tr>
          <th colspan=2>GOLPES ENSINADOS</th>
        </tr>
        {{range index .Moves 0}}
        {{if .}}
        <tr>
          <td>{{.Name}}</td>
          <td>
            <div class="move_box">
              <div>
                <h2>{{range .Descriptors}}{{.}}{{end}}</h2>
                <h2>{{.Type}}</h2>
              </div>
              <div>
                <h2>{{.Damage.Mod}}</h2>
                <h2>{{.AccDiff}}</h2>
              </div>
              <div>
                <h2>{{.Frequency}}</h2>
              </div>
              <div>
                <p>{{.Effect}}</p>
              </div>
            </div>
          </td>
        </tr>
        {{else}}
        <tr>
          <td>NOME DO GOLPE</td>
          <td>
            <div class="move_box">
              <div>
                <h2>descritores</h2>
                <h2>TIPO</h2>
              </div>
              <div>
                <h2>dano basal</h2>
                <h2>ACC</h2>
              </div>
              <div>
                <h2>frequência</h2>
              </div>
              <div>
                <p>Efeito do golpe</p>
              </div>
            </div>
          </td>
        </tr>
        {{end}}
        {{end}}

      </table>
    </div>
    <div class="abilities_space">
      {{range .Abilities}}
      {{if .}}
      <div class="ability_box">
        <h2>{{.Name}}</h2>
        <h2>{{.Activation}}</h2>
        <p>{{.Description}}</p>
      </div>
      {{end}}
      {{end}}
    </div>
  </div>

  <div class="tab_body" id="notes_tab">
    <textarea id="notes_textbox" placeholder="Insira suas anotações aqui" value="{{.Notes}}"></textarea>
  </div>

</div>
{{end}}
