{{define "trainerTalentBox"}}
  <div class="talent_box">
    <div class="talent_box_header">
      <div class="talent_box_info">
        <h2 class="talent_name" readonly>{{.Name}}</h2>
        <div class="talent_box_middle">
          <h2 class="talent_target" readonly>{{.Target}}</h2>
          <h2 class="talent_frequency" readonly>{{.Frequency}}</h2>
        </div>
        <textarea class="talent_description" name="description" readonly>{{.Description}}</textarea>
      </div>
      <div class="talent_icons">
        {{if .IsContinuous}}<img src="/static/img/PTA1/talent_icon_continuous.png" alt="continuous icon">{{end}}
        {{if .IsStandart}}<img src="/static/img/PTA1/talent_icon_standart.png" alt="standart icon">{{end}}
        {{if .IsFree}}<img src="/static/img/PTA1/talent_icon_free.png" alt="free icon">{{end}}
        {{if .IsInterrupt}}<img src="/static/img/PTA1/talent_icon_interrupt.png" alt="interrupt icon">{{end}}
        {{if .IsExtended}}<img src="/static/img/PTA1/talent_icon_extended.png" alt="extended icon">{{end}}
        <img src="/static/img/PTA1/talent_icon_{{if (not .IsLegal)}}il{{end}}legal.png" alt="legal icon">
        
      </div>
    </div>
  </div>
{{end}}
