{{define "sheet_body"}}
<section class="sheet_space">
  <link rel="stylesheet" href="/static/css/PTA1/trainerSheet.css">
  <link rel="shortcut icon" href="/static/img/PTA1/Sheeter.ico">
  <script src="/static/js/PTA1/trainerSheet.js"></script>
  <div class="tabs">
    <button class="tab" id="id" onclick="openTab(event, 'id')">ID</button>
    <button class="tab" id="pokes" onclick="openTab(event, 'pokemon')">pokes</button>
    <button class="tab" id="bag" onclick="openTab(event, 'bag')">bag</button>
    <button class="tab" id="prizes" onclick="openTab(event, 'prizes')">prizes</button>
    <button class="tab" id="dex" onclick="openTab(event, 'dex')">dex</button>
    <button class="tab" id="stats" onclick="openTab(event, 'stats')">stats</button>
    <button class="tab" id="notes" onclick="openTab(event, 'notes')">notes</button>
  </div>

  <div class="tab_body" id="id_tab">
    <div>
      <div class="header">
        <img src="/static/img/logo.png" id="trainer_photo">

        <div class="personal_info">
          Nome: {{.Name}}<br>Player: {{.Player}}<br>Gênero:({{.Gender}})<br>Altura: {{divide .Height 100}}m<br>Peso: {{divide
          .Weight 100}}Kg
        </div>

        <div class="header_stats">
          <div id="lvl">
            lvl: {{.Lvl}}
          </div>

          <div class="class_table">
            {{with .Classes}}
            <table id="class_table">
              <th colspan="2">Classes</th>
              <tr>
                <td>
                  <select id="class_1" onchange="switchClassFormDisplay()">
                    {{if index . 0}}
                    <option value="{{index . 0}}">{{index . 0}}</option>
                    {{else}}
                    <option selected hidden value></option>
                    {{end}}
                    <option value="new_class">[new class]</option>
                  </select>
                </td>
                <td>
                  <select id="class_2" onchange="switchClassFormDisplay()">
                    {{if index . 1}}
                    <option value="{{index . 1}}">{{index . 1}}</option>
                    {{else}}
                    <option selected hidden value></option>
                    {{end}}
                    <option value="new_class">[new class]</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <select id="class_3" onchange="switchClassFormDisplay()">
                    {{if index . 2}}
                    <option value="{{index . 2}}">{{index . 2}}</option>
                    {{else}}
                    <option selected hidden value></option>
                    {{end}}
                    <option value="new_class">[new class]</option>
                  </select>
                </td>
                <td>
                  <select id="class_4" onchange="switchClassFormDisplay()">
                    {{if index . 3}}
                    <option value="{{index . 3}}">{{index . 3}}</option>
                    {{else}}
                    <option selected hidden value></option>
                    {{end}}
                    <option value="new_class">[new class]</option>
                  </select>
                </td>
              </tr>
            </table>
            {{end}}
          </div>
        </div>
      </div>
    </div>
    <div id="trainer_forms">
      <form id="class_form" method="POST">
        <input type="hidden" name="form_name" value="class_form">
        <label for="class_name">Nome da classe </label>
        <input type="text" id="class_name" name="class_name">

        <label for="class_description">Descrição </label>
        <textarea id="class_description" name="class_description"></textarea>

        <label for="class_parent">Classe derivada</label>
        <select id="class_parent" name="class_parent">
          <option selected value="">Classe básica</option>
        </select>

        <label for="class_basic_talent1">Talentos básicos:</label>
        <select id="class_basic_talent1" name="class_basic_talent1" onchange="switchTalentFormDisplay()">
          <option value selected hidden></option>
          <option value="new_talent">[new talent]</option>
        </select>
        <select id="class_basic_talent2" name="class_basic_talent2" onchange="switchTalentFormDisplay()">
          <option value selected hidden></option>
          <option value="new_talent">[new talent]</option>
        </select>

        <label for="talent_list"> Talentos Possíveis </label>
        <div id="talent_list" class="list_block">
          <ul id="talents">
            <li><input type="checkbox" id="new_talent" name="new_talent" onchange="switchTalentFormDisplay()"> Novo Talento </li>
          </ul>
        </div>

        <label for="class_expertises"> Perícias de classe: </label>
        <div id="expertise_list" class="list_block">
          <ul id="expertises">
            <li><input type="checkbox" id="new_expertise" name="new_expertise" onchange="switchExpertiseFormDisplay()"> Nova Perícia </li>
          </ul>
        </div>

        <label for="class_requirements">Requisitos da classe: </label>
        <textarea id="class_requirements" name="class_requirements"></textarea>

        <input type="submit" value="Submit">

      </form>

      <form id="talent_form" method="POST">
        <input type="hidden" name="form_name" value="talent_form">
        <label for="talent_name"> Nome do talento </label>
        <input type="text" id="talent_name" name="talent_name">

        <label for="talent_target"> Alvo(s) </label>
        <input type="text" id="talent_target" name="talent_target">
        
        <label for="talent_freqyency"> Frequência </label>
        <input type="text" id="talent_frequency" name="talent_frequency">

        <label for="talent_description"> Descrição </label>
        <input type="text" id="talent_description" name="talent_description">

        <label for="talent_requirements"> Requisitos </label>
        <input type="text" id="talent_requirements" name="talent_requirements">

        <div id="talent_bools">
          <span>
          <label for="talent_continuous"><img src="" alt="is_talent_continuous?"></label>
          <input id="talent_continuous" name="talent_continuous" type="checkbox">
          </span>

          <span>
          <label for="talent_standart"><img src="" alt="is_talent_standart?"></label>
          <input id="talent_standart" name="talent_standart" type="checkbox">
          </span>

          <span>
          <label for="talent_free"><img src="" alt="is_talent_free?"></label>
          <input id="talent_free" name="talent_free" type="checkbox">
          </span>

          <span>
          <label for="talent_interrupt"><img src="" alt="is_talent_interrupt?"></label>
          <input id="talent_interrupt" name="talent_interrupt" type="checkbox">
          </span>

          <span>
          <label for="talent_extended"><img src="" alt="is_talent_extended?"></label>
          <input id="talent_extended" name="talent_extended" type="checkbox">
          </span>

          <span>
          <label for="talent_legal"><img src="" alt="is_talent_legal?"></label>
          <input id="talent_legal" name="talent_legal" type="checkbox">
          </span>
        </div>

        <input type="submit" value="Submit">

      </form>

      <form id="expertise_form" method="POST">
        <input type="hidden" name="form_name" value="expertise_form">
        <label for="expertise_name"> Perícia </label>
        <input id="expertise_name" name="expertise_name" type="text">

        <label for="expertise_stat"> Status associado </label>
        <select id="expertise_stat" name="expertise_stat">
          <option value="ATK">ATK</option>
          <option value="DEF">DEF</option>
          <option value="SPATK">SPATK</option>
          <option value="SPDEF">SPDEF</option>
          <option value="SPD">SPD</option>
        </select>

        <label for="expertise_description"> Descrição </label>
        <textarea id="expertise_description" name="expertise_description"></textarea>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  <div class="tab_body" id="pokemon_tab">
    <div class="party">
      {{with .PokemonList}}
      {{if gt (len .) 6}}
      {{range (slice . 0 6)}}
      <div class="poke_box" id="{{.Id}}" ondblclick="openSheet(parseInt(this.id))">
        <img class="ball_icon" src="/static/img/PTA1/Pokeball_open_icon.png">
        <img class="gender_icon" src="{{if eq .Gender "m"}}/static/img/PTA1/male_icon.png{{else if eq .Gender "f"}}/static/img/PTA1/female_icon.png{{else}}?{{end}}">
        <img class="poke_icon" src="{{.Species.Sprite}}">
        <div class="box_stats">
          <h3 class="poke_lvl"> lvl: {{.Lvl}}</h3>
          <h3>{{.Nick}}</h3>
          <meter class="HP_bar" value="{{index .Hp 0}}" max="{{index .Hp 1}}"></meter>
          <p>{{index .Hp 0}}/{{index .Hp 1}}</p>
        </div>
      </div>
      {{end}}
      {{else}}
      {{range .}}
      <div class="poke_box" id="{{.Id}}" ondblclick="openSheet(parseInt(this.id))">
        <img class="ball_icon" src="/static/img/PTA1/Pokeball_open_icon.png">
        <img class="gender_icon" src="{{if eq .Gender "m"}}/static/img/PTA1/male_icon.png{{else if eq .Gender "f"}}/static/img/PTA1/female_icon.png{{else}}?{{end}}">
        <img class="poke_icon" src="{{.Species.Sprite}}">
        <div class="box_stats">
          <h3 class="poke_lvl"> lvl: {{.Lvl}}</h3>
          <h3>{{.Nick}}</h3>
          <meter class="HP_bar" value="{{index .Hp 0}}" max="{{index .Hp 1}}"></meter>
          <p>{{index .Hp 0}}/{{index .Hp 1}}</p>
        </div>
      </div>
      {{end}}
      {{end}}
    </div>
    {{if gt (len .) 6}}
    <div class="party" id="pc">
    {{range (slice . 6)}}
      <div class="poke_box" id="{{.Id}}" ondblclick="openSheet(parseInt(this.id))">
        <img class="ball_icon" src="/static/img/PTA1/Pokeball_open_icon.png">
        <img class="gender_icon" src="{{if eq .Gender "m"}}/static/img/PTA1/male_icon.png{{else if eq .Gender "f"}}/static/img/PTA1/female_icon.png{{else}}?{{end}}">
        <img class="poke_icon" src="{{.Species.Sprite}}">
        <div class="box_stats">
          <h3 class="poke_lvl"> lvl: {{.Lvl}}</h3>
          <h3>{{.Nick}}</h3>
          <meter class="HP_bar" value="{{index .Hp 0}}" max="{{index .Hp 1}}"></meter>
          <p>{{index .Hp 0}}/{{index .Hp 1}}</p>
        </div>
      </div>
      {{end}}
    </div>
      {{end}}
      {{end}}
  </div>

  <div class="tab_body" id="bag_tab">
    <span style="display: grid; width: 100%;">
      <div class="item_grid">
        {{range .Inventory}}
        <div class="item_box">
          <div class="item_box_header">
            <span>
              <input class="item_qtt" type="number" readonly value="{{.Quantity}}">
              <input class="item_name" type="text" value="{{.Name}}" readonly>
            </span>
            <span>
              <input class="qtt_input" type="number" placeholder="{{.Quantity}}" min="0" inputmode="numeric" step="1">
              <input class="+-btn" type="button" value="+">
              <input class="+-btn" type="button" value="-">
            </span>
          </div>
          <div class="item_description">
            <textarea name="description" readonly>{{.Description}}</textarea>
          </div>
        </div>
        {{end}}
        <div class="item_box">
          <div class="item_box_header">
            <span>
              <input class="item_qtt" type="number" disabled="true" placeholder="1">
              <input class="item_name" type="text" placeholder="item name" disabled="true">
            </span>
            <span>
              <input class="qtt_input" type="number" placeholder="qtd" min="0" inputmode="numeric" step="1"> <input
                class="+-btn" type="button" value="+">
              <input type="button" value="-">
            </span>
          </div>
          <div class="item_description">
            <textarea name="description" disabled="true">Item description</textarea>
          </div>
        </div>
        <div class="item_box">
          <div class="item_box_header">
            <span>
              <input class="item_qtt" type="number" disabled="true" placeholder="1">
              <input class="item_name" type="text" placeholder="item name" disabled="true">
            </span>
            <span>
              <input class="qtt_input" type="number" placeholder="qtd" min="0" inputmode="numeric" step="1"> <input
                class="+-btn" type="button" value="+">
              <input type="button" value="-">
            </span>
          </div>
          <div class="item_description">
            <textarea name="description" disabled="true">Item description</textarea>
          </div>
        </div>
        <div class="item_box">
          <div class="item_box_header">
            <span>
              <input class="item_qtt" type="number" disabled="true" placeholder="1">
              <input class="item_name" type="text" placeholder="item name" disabled="true">
            </span>
            <span>
              <input class="qtt_input" type="number" placeholder="qtd" min="0" inputmode="numeric" step="1"> <input
                class="+-btn" type="button" value="+">
              <input type="button" value="-">
            </span>
          </div>
          <div class="item_description">
            <textarea name="description" disabled="true">Item description</textarea>
          </div>
        </div>
        <div class="item_box">
          <div class="item_box_header">
            <span>
              <input class="item_qtt" type="number" disabled="true" placeholder="1">
              <input class="item_name" type="text" placeholder="item name" disabled="true">
            </span>
            <span>
              <input class="qtt_input" type="number" placeholder="qtd" min="0" inputmode="numeric" step="1"> <input
                class="+-btn" type="button" value="+">
              <input type="button" value="-">
            </span>
          </div>
          <div class="item_description">
            <textarea name="description" disabled="true">Item description</textarea>
          </div>
        </div>
      </div>
    </span>
  </div>

  <div class="tab_body" id="prizes_tab">
    <div class="prize_box">
      <img class="prize_img" src="/static/img/PTA1/Pokeball_icon_.png">
      <textarea class="prize_description" disabled="true">Descrição do prêmio</textarea>
    </div>
    <div class="prize_box">
      <img class="prize_img" src="/static/img/PTA1/Pokeball_icon_.png">
      <textarea class="prize_description" disabled="true">Descrição do prêmio</textarea>
    </div>
    <div class="prize_box">
      <img class="prize_img" src="/static/img/PTA1/Pokeball_icon_.png">
      <textarea class="prize_description" disabled="true">Descrição do prêmio</textarea>
    </div>
  </div>

  <div class="tab_body" id="dex_tab">
    <div class="dex_block">
      <img src="/static/img/PTA1/pokedex.png">
      <img class="dex_sprite" src="/static/img/PTA1/Pokeball_icon.png">
      <img class="dex_caught_icon" src="/static/img/PTA1/Pokeball_icon.png">
      <input class="dex_search" type="text" placeholder="Pesquisar...">
      <h1 class="dex_text" id="dex_poke_name">POKEMON NAME</h1>
      <h3 class="dex_text" id="dex_poke_description">Pokemon Description</h3>

    </div>
  </div>

  <div class="tab_body" id="notes_tab">
    <textarea id="notes_textbox" value="{{.Notes}}" placeholder="Insira suas anotações aqui"></textarea>
  </div>

  <div class="tab_body" id="stats_tab">
    <div class="stats_space">
      <div class="left_panel">
        <div class="HP_DA">
          <div class="HP_display">
            <h2>HP</h2>
            <input type="number" value="{{index .Hp 0}}" max="{{index .Hp 1}}">
            <h2>/</h2>
            <input type="number" readonly value="{{index .Hp 1}}">
          </div>
          <div class="DA_display">
            <h2>DA</h2>
            <input class="dice_qtt" type="number" inputmode="numeric">
            <h2>d</h2>
            <input class="dice_sides" type="number" inputmode="numeric">
            <h2>+</h2>
            <input class="roll_mod" type="number" inputmode="numeric">
            <button class="roll_button" id="roll_DA"><img class="die_icon" src="/static/img/die_icon.png"></button>
          </div>
        </div>
        <div class="move_stats">
          <table class="stats_table">
            <tr>
              <th colspan="2">EVASÃO</th>
            </tr>
            <tr>
              <th>Física</th>
              <td>{{index .Evasion 0}}</td>
            </tr>
            <tr>
              <th>Especial</th>
              <td>{{index .Evasion 1}}</td>
            </tr>
            <tr>
              <th>Veloz</th>
              <td>{{index .Evasion 2}}</td>
            </tr>

          </table>
          <table class="stats_table">
            <tr>
              <th colspan="2">DESLOCAMENTOS</th>
            </tr>
            <tr>
              <th>Terrestre</th>
              <td>{{index .Movement "land"}}</td>
            </tr>
            <tr>
              <th>Natação</th>
              <td>{{index .Movement "swimming"}}</td>
            </tr>
            <tr>
              <th>Subaquático</th>
              <td>{{index .Movement "underwater"}}</td>
            </tr>
            {{if index .Movement "burrow"}}
            <tr>
              <th>Escavação</th>
              <td>{{index .Movement "burrow"}}</td>
            </tr>
            {{end}}
            {{if index .Movement "fly"}}
            <tr>
              <th>Vôo</th>
              <td>{{index .Movement "fly"}}</td>
            </tr>
            {{end}}
          </table>
        </div>
      </div>
      {{with .Status}}
      <table class="stats_table">
        <tr>
          <th colspan="5">STATS</th>
        </tr>
        <tr>
          <th>Stat</th>
          <th>Valor</th>
          <th>Fase</th>
          <th>Total</th>
          <th>Mod</th>
        </tr>
        <tr>
          <td>Saúde</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Status "HP"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "HP"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Total "HP"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Modifiers "HP"}}" readonly></td>
        </tr>
        <tr>
          <td>Ataque</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Status "ATK"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "ATK"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Total "ATK"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Modifiers "ATK"}}" readonly></td>
        </tr>
        <tr>
          <td>Defesa</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Status "DEF"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "DEF"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Total "DEF"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Modifiers "DEF"}}" readonly></td>
        </tr>
        <tr>
          <td>Ataque Especial</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Status "SPATK"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "SPATK"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Total "SPATK"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Modifiers "SPATK"}}" readonly></td>
        </tr>
        <tr>
          <td>Defesa Especial</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Status "SPDEF"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "SPDEF"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Total "SPDEF"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Modifiers "SPDEF"}}" readonly></td>
        </tr>
        <tr>
          <td>Velocidade</td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Status "SPD"}}" readonly></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Stages "SPD"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Total "SPD"}}" min="-6" max="6"></td>
          <td><input class="stat_field" type="number" accept="numeric" value="{{index .Modifiers "SPD"}}" readonly></td>
        </tr>
      </table>
      {{end}}
    </div>
    <div class="talents_space">
      <div class="talents_grid">
        {{range .Talents}}
        <div class="talent_box">
          <div class="talent_box_header">
            <div class="talent_box_info">
              <h2 class="talent_name" readonly>{{.Name}}</h2>
              <div class="talent_box_middle">
                <h2 class="talent_target" readonly>{{.Target}}</h2>
                <h2 class="talent_frequency" readonly>{{.Frequency}}</h2>
              </div>
              <textarea class="talent_description" name="description" readonly>{{.Description}}</textarea>
            </div>
            <div class="talent_icons">
              <img src="/static/img/PTA1/Pokeball_icon.png">
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- </body>
</html> -->
