.header{
    display: flex;
}

.personal_info{
    display: flex;
}

.header_stats{
    display: flex;
}

.HP_lvl{
    display: flex;
}

.class_table{
    display: flex;
}

#class_table{
    display: flex;
}