* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #242627;
    color: #FEFCFD;
    overflow-y: scroll;
}

h1 a {
    font-size: 36px;
    font-weight: bold;
    height: 25px;
    padding-left: 50px;
}

a {
    color: #62CB31;
    text-decoration: none;
}

a:hover {
    color: #4EB722;
    text-decoration: underline;
}

header {
    text-align: center;
}

header a {
    color: #FEFCFD;
    text-decoration: none;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #45494b;
    height: 60px;
    color: #FEFCFD;
    display: flex
}

nav a {
    margin: auto;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #45494b;
    height: 60px;
    color: #FEFCFD;
    text-align: center;
}