#main_slate{
  display: flex;
  justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
    list-style: none;
}

header input[type=number]{
  appearance: textfield;
  -moz-appearance: textfield;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #242627;
    color: #FEFCFD;
    overflow-y: scroll;
}

h1 a {
    font-size: 36px;
    font-weight: bold;
    height: 25px;
}

a {
    color: #62CB31;
    text-decoration: none;
}

a:hover {
    color: #4EB722;
    text-decoration: underline;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-around;
}


header a {
    color: #FEFCFD;
    text-decoration: none;
}

@keyframes blink{
  0%    {background-color: goldenrod;}
  100%  {background-color: #555555;}
}

.blinker{
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

#roller_div{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  background-color: #242627;
  border-radius: 2px;
  border-style: solid;
  border-color: #A4A5A7;
  padding: 10px 5px;
  display: flex;
  align-items: center;
}

#roller_div h2{
  color: #FEFCFD;
  margin: 0 2px;
}

#roller_div input{
  max-height: 22px;
  max-width: 40px;
}

#roller_div button{
  height: 90%;
  max-height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#roller_div button img{
  max-height: 30px;
}

#roller_result{
  min-width: 30px;
  padding: 2px;
  height: 25px;
  background-color: #555555;
  text-align: center;
  vertical-align: middle;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #45494b;
    height: 60px;
    color: #FEFCFD;
    display: flex
}

nav a {
    margin: auto;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #45494b;
    height: 60px;
    color: #FEFCFD;
    text-align: center;
}

.clickable{
  cursor: pointer;
}
